.container
  .profile-header
    .back-button
      = link_to :back do
        = image_tag 'back-icon', class: 'header-back'

    .profile-username
      %p= user.username

    .profile-action-button
      - if user == current_user
        = link_to 'Edit', edit_profile_path
      - else
        - if current_user&.has_followed?(user)
          = link_to 'Unfollow', account_unfollows_path(user), data: { method: 'post' }
        - else
          = link_to 'Follow', account_follows_path(user), data: { method: 'post' }

  .profile-avatar
    - if @profile.avatar.attached?
      = image_tag url_for(@profile.avatar), class: 'avatar-icon', id: 'avatar-preview'
    - else
      = image_tag 'default-avatar.png', class: 'avatar-icon', id: 'avatar-preview'

    = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
      = f.file_field :avatar, class: 'hidden', id: 'avatar-input'
      = f.submit :avatar, class: 'hidden', id: 'avatar-submit'

  .profile-info
    .my-posts
      %p.count 44
      %p.content Posts
    .my-followers
      %p.count 110
      %p.content Followers
    .my-followings
      %p.count 44
      %p.content Following
