.container
  .post-create-header
    .post-cancel
      = link_to :back do
        %p Cancel
    .post-head
      %p Status
    .post-submit#images-submit
      = image_tag 'post.png'

  %ul
    - @post.errors.full_messages.each do |message|
      %li= message

  .post-contributor
    .post-avatar
      = image_tag url_for(@profile.avatar)
    .post-username
      %p= @user.username

  = form_with(model: @post, url: posts_path, method: 'post', local: true) do |f|
    .field
      = f.label :content, '投稿内容', class: 'hidden'
      %div
        = f.text_field :content, class: 'text', id: 'content'
    .field
      = f.label :images, '+ Album', class: 'images-select', id: 'images-open'
      %div
        = f.file_field :images, class: 'hidden', id: 'images-select', multiple: true
    %div
      = f.submit 'Submit', class: 'hidden', id: 'images-input'

  .post-preview
    - if @post.images.attached?
      - @post.images.each do |image|
        = image_tag url_for(image), class: "preview-image"

= javascript_pack_tag 'post'