.container
  .post-comment-header
    .back-button
      = link_to :back, data: { turbolinks: false } do
        = image_tag 'back-icon', class: 'header-back'

    .post-comment-title
      %p Comment

  .post-comments
    - @comments.each do |comment|
      .post-comment-box
        .post-comment-avatar
          = image_tag current_user.avatar_image
        .post-comment-content
          .post-comment-username
            %p= @user.username
          .post-comment
            %p= comment.content

    .comment-submit.show-comment-form
      = image_tag 'comment.png'
    .comment-area.hidden
      = text_area_tag :comment_content, '', class: 'sm, post-comment-area'
      .comment-submit
        = image_tag 'comment.png'

= javascript_pack_tag 'comment'