.container
  .timeline-create-header
    .cancel
      = link_to :back do
        %p cancel
    .head
      %p status
    .post.images-input
      %p post

  %ul
    - @timeline.errors.full_messages.each do |message|
      %li= message

  .timeline-contributor
    .timeline-avatar
      = image_tag url_for(@profile.avatar)
    .timeline-username
      %p= @user.username

  = form_with(model: @timeline, url: timelines_path, method: 'post', local: true) do |f|
    .field
      = f.label :content, '投稿内容'
      %div
        = f.text_field :content, class: 'text'
    .field
      = f.label :images, '投稿画像'
      %div
        = f.file_field :images
    %div
      = f.submit 'Submit', class: 'hidden'