.container
  = render 'commons/tabs'
  .post-posts
    - @posts.each do |post|
      .post.post-index{data: {post_id: post.id}}
        .post-post-header
          .post-avatar
            = link_to account_path(post.user), data: { turbolinks: false } do
              = image_tag post.user.avatar_image
          .post-info
            .post-username
              %p= post.user.username
            .post-post-time
              = "#{time_ago_in_words(post.created_at)}前"

        .post-images
          - if post.images.attached?
            .main-image
              = image_tag post.images.first
            .side-images
              - post.images.drop(1).each do |image|
                = image_tag image

        .post-actions
          -if user_signed_in?
            .like-button.hidden.active-heart{ data: { method: 'delete' } }
              = image_tag 'heart-active.svg'
            .like-button.hidden.inactive-heart{ data: { method: 'post' } }
              = image_tag 'heart.svg'
            .comment-button
              =link_to post_path(post), data: { turbolinks: false } do
                = image_tag 'comment.png'
            .share-button
              = link_to "https://x.com/share?url=#{ request.url }&text=#{post.content}", target: '_blank' do
                = image_tag 'share.png'

        .post-comments
          %p.like-count= "いいね数 :  #{post.like_count}"
          %p= "#{post.user.username}  #{post.content}"

= javascript_pack_tag 'like'